<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="cn.bybing.mapper.DetailsMapper">
    <select id="findCityCode" resultType="String" parameterType="String">
        SELECT citycode
        FROM `dc_citycode`
        WHERE city = #{cityName};
    </select>

    <update id="updateDetails" parameterType="Details">
        update details
        set update_time=#{updateTime},
        confirm=#{confirm},
        confirm_add=#{confirmAdd},
        heal=#{heal},
        dead=#{dead}
        where province=#{province}
        and city=#{city};
    </update>
</mapper>